body,html {
	background-color:pink;
}

@media screen and (max-width:1024px) {    /*for ipad*/
	html{ background-color: red; }
}

@media screen and (max-width:320px) {    /*Iphone 5*/
	html{ background-color: red; }
}
	




